/* .wom{
      background-image: url("https://i.pinimg.com/236x/55/a2/9a/55a29a24bac3817b081fc5b23043f02f.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


            
 .wom .card{
  
    transition: all 0.3s ease-in-out; 
}

.wom .card:hover {
   
    background-color: rgb(245, 210, 216); 
    transform: scale(1.08); 
} */




